form{background-color: pink;}
h1{text-align: center; color: brown;}
h2 {color: blue; text-shadow: skyblue;}
a{text-decoration: none;}
#5{background-color:orange; font-family:휴먼편지체;}
footer{background-color:orange; border-radius: 10px 10px 10px 10px;}