body {background-color : aliceblue;}
form {background-color: pink;}
span, footer {font-family: "휴먼편지체"; font-size: 1em; text-indent: 1em;}
h1 {text-align: center; color: brown;}
b {color:blue; font-size: 1em;}
footer{background-color:orange; border-radius: 10px 10px 10px 10px;}